html {
  overflow-x: hidden;
}
.container {
  margin: 50px 0px 0px 0px;
  padding: 13px;
}
.post {
  height: 100%;
}
.col-md-5 {
  background-color: #003c71;
  color: white;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
.col-md-5 ul li {
  list-style-type: none;
}
.col-md-7 .post-logo {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 0;
}
.col-md-7 {
  padding: 0;
}
.col-8 {
  padding: 0;
}
.carousel-inner {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}
.list-group {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  line-height: 3;
  text-align: center;
  border-radius: 0;
}
.wrapper {
  display: block;
}
.col-4 {
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  padding: 0;
}
.row {
  padding: 0 10px 10px 10px;
}
.navbar {
  background-color: #003c71;
}
a {
  color: white;
  text-align: center;
}
#buttonIndicator {
  margin-left: 40%;
  margin-top: -20px;
  z-index: 9;
}
#disliked {
  margin-right: 40px;
  background: red;
  border: none;
  width: 100px;
  height: 50px;
}
#message {
  background: green;
  border: none;
  height: 50px;
  width: 100px;
}
#new_message {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-12 img {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  margin: 2px;
  margin-right: 5px;
  width: 70px;
  height: 70px;
  border-bottom: 1px solid gray;
  border-radius: 50%;
}
.col-12 ul li {
  list-style: none;
  border-bottom: 1px solid gray;
}
#messaging {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 700px;
}
.card {
  border: none;
}
